.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.align-items-center {
    align-items: center!important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.text-primary {
    color: #4e73df!important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.text-gray-800 {
    color: #5a5c69!important;
}

.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}

.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}

.text-success {
    color: #1cc88a!important;
}

.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}

.text-info {
    color: #36b9cc!important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}

.chart-area {
    height: 45vh;
}