.form-align {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.navbar.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.footer .container {
  text-align: center;
}

.footer p {
  margin: 0 !important;
}

h1 {
  margin: 1em;
  text-align: center;
}

@media (max-width: 500px) {
  .form-wrapper {
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  body {
    padding-bottom: 2em;
  }
}

.page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #f8f9fa;
}

.card-title {
  font-weight: bold;
}

.card img {
  width: 40%;
  margin: 1em 0;
}
